@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1172px;
  font-family: "GothamRoundedMedium"; }

ul {
  list-style: none; }

.container {
  width: 1172px;
  padding: 0 10px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    outline: none;
    color: #FFF; }
  a:focus, a:active {
    outline: none;
    text-decoration: none; }

ul {
  padding-left: 0; }

.fromNothing {
  -webkit-animation: fromTopSec 5s;
  -moz-animation: fromTopSec 5s;
  -o-animation: fromTopSec 5s;
  animation: fromTopSec 5s; }

.visible {
  opacity: 1;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear; }

.homeStart, .secondStart, .thirdStart {
  width: 166px;
  height: 49px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #159f85;
  color: #FFF;
  text-align: center;
  display: block;
  line-height: 49px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 30px; }
  .homeStart:hover, .secondStart:hover, .thirdStart:hover, .homeStart:active, .secondStart:active, .thirdStart:active, .homeStart:focus, .secondStart:focus, .thirdStart:focus {
    color: #FFF;
    animation: anim1 0.5s; }

.twitter, .flickr, .dribble {
  display: block;
  background-image: url("../img/fa-twitter.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 23px;
  height: 21px;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear; }
  .twitter:hover, .flickr:hover, .dribble:hover {
    width: 30px;
    height: 30px;
    margin-left: -7px; }

.flickr {
  background-image: url("../img/fa-flickr.png"); }
  .flickr:hover {
    margin-top: -10px;
    margin-left: 0;
    margin-right: -4px;
    margin-left: -3px; }

.dribble {
  background-image: url("../img/fa-dribbble.png");
  height: 23px; }
  .dribble:hover {
    margin-left: 7px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-loading .slick-list {
    background: white url(./ajax-loader.gif) center center no-repeat; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block; }
    .slick-slide img.slick-loading {
      background: white url(./ajax-loader.gif) center center no-repeat;
      padding-bottom: 100%; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:focus,
  .slick-next:focus {
    outline: none; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  width: 11px;
  height: 16px;
  display: block;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px;
  background-image: url("../img/fa-angle-left.png");
  background-repeat: no-repeat; }

.slick-next {
  right: -25px;
  background-image: url("../img/fa-angle-right.png");
  background-repeat: no-repeat; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      outline: none; }
      .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      opacity: 0.75; }

.content {
  width: 80%;
  margin: auto; }
  .content h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    border: 1px solid #999; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      outline: none; }
      .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      opacity: 0.75; }

.slick-prev,
.slick-next {
  top: 0;
  margin-bottom: 15px; }

.slick-next {
  right: 10px; }

.slick-prev {
  position: relative;
  left: -35px;
  float: right; }

.slick-active:hover, .slick-active:active, .slick-active:focus {
  outline: none; }

.slick-track {
  margin-top: 20px; }

.slick-slide img {
  float: right; }

.draggable {
  margin-right: 0; }

.navMenu {
  padding-top: 40px;
  background: rgba(255, 255, 255, 0);
  float: left;
  width: 100%;
  position: absolute;
  height: auto;
  display: block;
  z-index: 100; }
  .navMenu ul {
    clear: left;
    position: relative;
    right: 50%;
    height: 53px;
    float: right;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0; }
    .navMenu ul li {
      position: relative;
      left: 50%;
      float: left;
      height: 53px;
      padding: 0;
      margin: 0; }
      .navMenu ul li a {
        display: block;
        color: #fff;
        line-height: 53px;
        padding: 0 25px;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear; }
        .navMenu ul li a:hover {
          text-decoration: none;
          font-size: 20px;
          padding: 0 30px; }
        .navMenu ul li a i {
          width: 53px;
          height: 55px;
          background-image: url("	../img/Livello-2.png");
          background-repeat: no-repeat;
          background-position: center;
          display: block; }

.home {
  background-image: url("../img/Livello-1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
  text-align: center; }

.second {
  display: block;
  padding: 90px 0;
  background: url("../img/iPhone-1.png") no-repeat 90% -25%; }
  .second__text {
    display: block;
    width: 45%;
    opacity: 0; }
  .second__title {
    color: #159f85;
    font-size: 18px;
    display: block;
    width: 60%;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .secondStart {
    margin: 40px 0 0; }

.third {
  display: block;
  padding: 90px 0;
  background: url("../img/Flat-iPhone 5C Mock Up.png") no-repeat 10% -70%; }
  .third__text {
    float: right;
    display: block;
    width: 45%;
    opacity: 0; }
  .third__title {
    color: #159f85;
    font-size: 18px;
    display: block;
    width: 60%;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .thirdStart {
    margin: 40px 0 0; }

.fourth {
  display: block;
  padding: 90px 0; }
  .fourth__text {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 25%;
    margin-top: 60px; }
    .fourth__text img {
      margin: 0 auto;
      display: block; }
    .fourth__text h2 {
      text-transform: uppercase;
      color: #373737;
      font-size: 16px;
      font-weight: bold; }
    .fourth__text p {
      font-size: 10px;
      color: #373737;
      width: 49%;
      margin: 0 auto; }
  .fourth__slider {
    display: block;
    width: 75%;
    float: left; }

.fifth {
  display: block;
  position: relative;
  padding: 300px 0;
  background: url("../img/Livello-3.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }
  .fifth h3 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center; }
  .fifth__form {
    display: block;
    width: 31%;
    margin: 0 auto; }
    .fifth__form__input {
      width: 280px;
      height: 60px;
      display: inline-block;
      line-height: 60px;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      -ms-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      color: #373737;
      font-family: "Helvetica";
      font-size: 16px;
      outline: none;
      border: none;
      padding: 0 25px; }
    .fifth__form__sub {
      width: 63px;
      height: 60px;
      display: inline-block;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -ms-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #159f85;
      background-image: url("../img/fa-check.png");
      background-position: center;
      background-repeat: no-repeat;
      outline: none;
      border: none;
      vertical-align: bottom;
      margin-left: -5px;
      -moz-transition: all 1s linear;
      -o-transition: all 1s linear;
      -webkit-transition: all 1s linear; }
      .fifth__form__sub:hover {
        background-color: #0c5b4c;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }

.sixth {
  display: block;
  position: relative;
  padding: 90px 0;
  background-color: #F5F6F7; }
  .sixth h4 {
    color: #373737;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .sixth p {
    color: #373737;
    font-size: 12px;
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto; }
  .sixth__links {
    display: block;
    width: 53.75427%;
    margin: 25px auto; }
    .sixth__links__but {
      width: 296px;
      height: 56px;
      line-height: 56px;
      display: inline-block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #19bb9b;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 20px;
      -moz-transition: all 1s linear;
      -o-transition: all 1s linear;
      -webkit-transition: all 1s linear; }
      .sixth__links__but i {
        width: 56px;
        height: 56px;
        display: block;
        float: right;
        background-color: #159f85;
        background-position: center;
        background-repeat: no-repeat;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        -webkit-transition: all 1s linear; }
      .sixth__links__but .ios {
        background-image: url("../img/fa-apple.png"); }
      .sixth__links__but .android {
        background-image: url("../img/fa-android.png"); }
      .sixth__links__but:first-child {
        margin-right: 20px; }
      .sixth__links__but:hover {
        background-color: #107863; }
        .sixth__links__but:hover i {
          background-color: #0c5b4c;
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }

.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 230px;
  text-align: center;
  background: url("../img/Livello-1.png") no-repeat bottom center scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative; }
  .intro .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
  .intro h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase; }
  .intro p {
    color: #fff;
    font-size: 16px; }
  .intro .socialBut {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    display: inline-block;
    margin: 0 auto; }
    .intro .socialBut ul {
      margin-left: -100px; }
      .intro .socialBut ul li {
        display: inline-block;
        margin: 0 20px; }

.footer {
  height: 135px;
  padding-top: 40px; }
  .footer ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #000; }
    .footer ul li:last-of-type {
      border: none; }
    .footer ul li:first-of-type {
      padding-left: 0; }
    .footer ul li a {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #000;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      .footer ul li a:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
  .footer__copyright {
    display: block;
    float: left; }
  .footer__logo {
    display: block;
    float: right;
    position: relative; }
    .footer__logo a {
      display: block; }
      .footer__logo a i {
        width: 53px;
        height: 55px;
        background-image: url("	../img/Livello-2_copia.png");
        background-repeat: no-repeat;
        background-position: center;
        display: block; }
  .footer__leftSide {
    display: block;
    float: left;
    width: 75%; }

/*# sourceMappingURL=style.css.map */
