.homeStart
	width: 166px
	height: 49px
	@include border-radius(3px)
	@include background-clip(padding-box)
	background-color: #159f85
	color: #FFF
	text-align: center
	display: block
	line-height: 49px
	text-transform: uppercase
	margin: 0 auto
	margin-top: 30px
	&:hover, &:active, &:focus 
		color: #FFF
		animation:  anim1 .5s
		 
.twitter
	display: block
	background-image: url("../img/fa-twitter.png") 
	background-repeat: no-repeat
	-webkit-background-size: contain
	-o-background-size: contain
	background-size: contain
	width: 23px
	height: 21px
	@include transition (0.3s)
	&:hover
		width: 30px
		height: 30px
		margin-left: -7px		
.flickr
	@extend .twitter
	background-image: url("../img/fa-flickr.png") 
	&:hover
		margin-top: -10px
		margin-left: 0		
		margin-right: -4px
		margin-left: -3px
.dribble
	@extend .twitter
	background-image: url("../img/fa-dribbble.png") 
	height: 23px
	&:hover		
		margin-left: 7px
